This notebook normalizes human judged ground truth from various originality and creativity scoring studies.

This is an assortment of studies, with different demographics, goals, and test setups. It is most appropriate for supervised learning of automated scoring, where we're not necessarily trying to learn about the participants but about the *human judges* - how they interpret the originality scoring task in general.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from ocsai.data import download_from_description, prep_general
import pandas as pd

## Dumas et al 2020

In [3]:
desc = {
    "name": "dod20",
    "test_type": "uses",
    "meta": {
        "inline": "Dumas et al 2020",
        "download": {"url": "https://osf.io/download/u3yv4/", "extension": "csv"}
    },
    "null_marker": "!!!",
    "column_mappings": {},
    "range": [1, 5],
    "language": "eng",
}

fname = download_from_description(desc, '../data/raw')
df = pd.read_csv(fname[0], index_col=0)
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Dumas et al 2020*

Replacing !!! with NaN in response column

- name: dod20
- no_of_prompts: 10
- no_of_participants: 92
- no_of_data_points: 5490
- prompts: ['book', 'bottle', 'brick', 'fork', 'pants', 'rope', 'shoe', 'shovel', 'table', 'tire']
- ICC2k: 0.85
- ICC2k_CI: 0.79-0.88
- ICC3k: 0.87
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1391,uses,dod20,What is a surprising use for a SHOVEL?,shovel,scoop out water,dod20_shovel-cd11c0,2.5005,dod2013,7
2805,uses,dod20,What is a suprising use for PANTS?,pants,status,dod20_pants-73cf7d,2.0000,dod2037,7

## Silvia et al 2009

In [4]:
desc = {
    "name": "snbmo09",
    "test_type": "uses",
    "meta": {
        "inline": "Silvia et al. 2009",
        "citation": "Silvia, P. J., Nusbaum, E. C., Berg, C., Martin, C., & O'Connor, A. (2009). Openness to experience, plasticity, and creativity: Exploring lower-order, high-order, and interactive effects. Journal of Research in Personality, 43(6), 1087–1090. https://doi.org/10.1016/j.jrp.2009.04.015",
        "download": {"url": "https://osf.io/download/qdrv8/", "ext": "csv"}
    },
    "column_mappings": {
        "subject":"participant",
        "response_order":"response_num"
        },
    "range": [1, 5],
    "language": "eng",
}
fname = download_from_description(desc, '../data/raw')
df = pd.read_csv(fname[0])
df['prompt'] = df.task.apply(lambda x: x.split('_')[-1])
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Silvia et al. 2009*

Silvia, P. J., Nusbaum, E. C., Berg, C., Martin, C., & O'Connor, A. (2009). Openness to experience, plasticity, and creativity: Exploring lower-order, high-order, and interactive effects. Journal of Research in Personality, 43(6), 1087–1090. https://doi.org/10.1016/j.jrp.2009.04.015

- Renaming columns {'subject': 'participant', 'response_order': 'response_num'}

Dropping 10 unrated items

- name: snbmo09
- no_of_prompts: 3
- no_of_participants: 202
- no_of_data_points: 4099
- prompts: ['brick', 'knife', 'box']
- ICC2k: 0.69
- ICC2k_CI: 0.57-0.77
- ICC3k: 0.76
- rater_cols: ['rater_1', 'rater_2', 'rater_3', 'rater_4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
2615,uses,snbmo09,What is a surprising use for a KNIFE?,knife,play darts with,snbmo09_2_knife-45f033,1.50000,snbmo09128,3
2323,uses,snbmo09,What is a surprising use for a BOX?,box,turn it over and use it as a table,snbmo09_3_box-8de05d,1.75025,snbmo09113,4

## Hass 2017

This study looked at uses for *bottle* and *brick*. There were 54 participants after data cleaning.

Rating was on a 5-point scale. For verification, their reported inter-rater reliability was ICC2k was 0.80 for brick and 0.78 for bottle, which is about what we see below.

The rating data was stoplisted, so I need to reconstruct the original responses here.

In [5]:
desc = {
    "name": 'hass17',
    "test_type": "uses",
    "meta": {
        "inline": "Hass 2017",
        "citation": "Hass, R. W. (2017). Semantic search during divergent thinking. Cognition, 166, 344–357. https://doi.org/10.1016/j.cognition.2017.05.039",
        "url": "https://osf.io/ng598",
        "download": [
            {"url": 'https://osf.io/download/mcykr/', "ext": "xlsx"}, # rater scores
            {"url": 'https://osf.io/download/27bx8/', "ext": "xlsx"},  # responses 1
            {"url": 'https://osf.io/download/rzvyd/', "ext": "xlsx"}  # responses 2
        ],
    },
    "column_mappings": {
        "subject":"participant",
        "response_order":"response_num"
        },
    "range": [1, 5],
    "rater_cols": ['r1','r2','r3'],
    "language": "eng",
}

(ratings_fname, responses_fname, responses2_fname) = download_from_description(desc, '../data/raw')

# custom parsing specific to this dataset
all_ratings = []
for sheet, prompt in [('br_exp1', 'brick'),('br_exp2', 'brick'),('bot_exp1', 'bottle'),('bot_exp2', 'bottle')]:
    data = pd.read_excel(ratings_fname, sheet_name=sheet) #.rename(columns={'subject':'participant','response_order':'response_num'})
    data['prompt'] = prompt
    all_ratings.append(data)
hassratings = pd.concat(all_ratings).rename(columns={'response':'cleaned'})
participants = pd.concat([pd.read_excel(responses_fname), pd.read_excel(responses2_fname)])

# melt original responses to long, reconstructe the cleaned columns, then join with ratings
long_part = participants.melt(id_vars='ID', value_name='response').rename(columns={'ID':'participant'})
long_part = long_part[long_part.variable.str.contains('resp') & ~long_part.variable.str.contains('time')].dropna()
long_part[['prompt', 'response_num']] = long_part.variable.str.split('_', expand=True)

long_part.loc[long_part.prompt.str.contains('resp1'), 'prompt'] = 'bottle'
long_part.loc[long_part.prompt.str.contains('resp2'), 'prompt'] = 'brick'
long_part.sample(10)

import nltk
nltk.download('punkt')
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stops = stopwords.words('english')
# not sure which list the study used, so just adjust based on testing
stops += ['could']
stops = [w for w in stops if w not in ['can']]
stops = set(stops)

def stop_clean(x):
    x = x.lower()
    x = x.replace('i.e.', 'e') # quirk of the tokenization in original study
    for c in list("/\\'-()"):
        x = x.replace(c, '')
    words = [word for word in word_tokenize(x) if word not in stops]
    return " ".join(words)

long_part['cleaned'] = long_part.response.apply(stop_clean)
hass07 = long_part.merge(hassratings, how='left', on=['prompt', 'cleaned'])

cleaned = prep_general(hass07, **desc, save_dir='../data/datasets')
cleaned.sample(2)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/peter.organisciak/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/peter.organisciak/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Loading *Hass 2017*

Hass, R. W. (2017). Semantic search during divergent thinking. Cognition, 166, 344–357. https://doi.org/10.1016/j.cognition.2017.05.039

- Renaming columns {'subject': 'participant', 'response_order': 'response_num'}

- name: hass17
- no_of_prompts: 2
- no_of_participants: 57
- no_of_data_points: 1093
- prompts: ['bottle', 'brick']
- ICC2k: 0.79
- ICC2k_CI: 0.75-0.82
- ICC3k: 0.8
- rater_cols: ['r1', 'r2', 'r3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1081,uses,hass17,What is a surprising use for a BRICK?,brick,street,hass17_brick-6210af,1.000,hass1712,12
258,uses,hass17,What is a surprising use for a BOTTLE?,bottle,smoking,hass17_bottle-b83cc1,4.667,hass173,4

## Silvia et al 2008

This was the order of creativity tasks:

1. Please list all of the creative, unusual uses for a brick that you can think of.
2. Please list all of the creative, unusual instances of things that are round that you can think of.
3. Imagine that people no longer needed to sleep. Please list creative, unusual consequences that would follow.
4. Please list all of the creative, unusual uses for a knife that you can think of.
5. Please list all of the creative, unusual instances of things that will make a noise that you can think of.
6. Imagine that everyone shrank to 12 inches tall. Please list creative, unusual consequences that would follow.

Numbers 1 and 4 are AUT.

In [6]:
# Support .sav files
import pyreadstat
desc = {
    "name": "setal08",
    "meta": {
        "inline": "Silvia et al. 2008",
        "citation": "Silvia, P. J., Winterstein, B. P., Willse, J. T., Barona, C. M., Cram, J. T., Hess, K. I., Martinez, J. L., & Richard, C. A. (2008). Assessing creativity with divergent thinking tasks: Exploring the reliability and validity of new subjective scoring methods. Psychology of Aesthetics, Creativity, and the Arts, 2(2), 68–85. https://doi.org/10.1037/1931-3896.2.2.68",
        "url": "https://osf.io/dh7ey/",
        "download": {"url": "https://files.osf.io/v1/resources/4ketx/providers/osfstorage/5dd70d1f83135e000ec3c242/?zip=",
                    "extension": "zip",
                    "archive_files": ['DT_Responses_PACA_2008_Study_2.sav']
                    }
    },
    "column_mappings": {
        "subject":"participant",
        "order":"response_num"
        },
    "replace_values": {
        "prompt": {
            1: "brick",
            2: "round",
            3: "no sleep",
            4: "knife",
            5: "noise",
            6: "shrank"
        },
        "type": {
            1: "uses",
            2: "instances",
            3: "consequences",
            4: "uses",
            5: "instances",
            6: "consequences"
        },
        "question": {
            1:"What is a surprising use for a BRICK?",
            2: "What is a surprising thing that is ROUND?", 
            3: "What would be a surprising consequence if PEOPLE NEEDED NO SLEEP?", 
            4: "What is a surprising use for a KNIFE?",
            5: "What is a surprising thing that makes a NOISE?",
            6: "What would be a surprising consequence if EVERYONE SHRANK TO 12 INCHES TALL?"
        }
    },
    "range": [1, 5],
    "language": "eng",
}

# Download data
fnames = download_from_description(desc, '../data/raw', extension='zip')

# Some manual cleanup
df, meta = pyreadstat.read_sav(fnames[0])
# all three are mapped from task
for col in ['prompt', 'type', 'question']:
    df[col] = df['task'].astype(int)
df['subject'] = df['subject'].astype(int)
# doublecheck - burczak reported ICC2k as 0.48 for uses
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Silvia et al. 2008*

Silvia, P. J., Winterstein, B. P., Willse, J. T., Barona, C. M., Cram, J. T., Hess, K. I., Martinez, J. L., & Richard, C. A. (2008). Assessing creativity with divergent thinking tasks: Exploring the reliability and validity of new subjective scoring methods. Psychology of Aesthetics, Creativity, and the Arts, 2(2), 68–85. https://doi.org/10.1037/1931-3896.2.2.68

- Renaming columns {'subject': 'participant', 'order': 'response_num'}

Dropping 37 unrated items

- name: setal08
- no_of_prompts: 6
- no_of_participants: 242
- no_of_data_points: 11490
- prompts: ['brick', 'round', 'no sleep', 'knife', 'noise', 'shrank']
- ICC2k: 0.43
- ICC2k_CI: 0.22-0.57
- ICC3k: 0.54
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
4414,instances,setal08,What is a surprising thing that is ROUND?,round,food,setal08_2.0-1b12d2,1.000,setal0895,17.0
2222,instances,setal08,What is a surprising thing that is ROUND?,round,coaster to sit a drink on,setal08_2.0-172a1c,1.333,setal0851,7.0

## Hofelich Mohr, Sell, and Lindsay 2016

In [7]:
desc = {
    "name": "hmsl",
    "meta": {
        "inline": "Hofelich Mohr et al. 2016",
        "citation": "Hofelich Mohr, A., Sell, A., & Lindsay, T. (2016). Thinking Inside the Box: Visual Design of the Response Box Affects Creative Divergent Thinking in an Online Survey. Social Science Computer Review, 34(3), 347–359. https://doi.org/10.1177/0894439315588736",
        "url": "https://doi.org/10.1177/0894439315588736",
        "download": {
            "url": "https://conservancy.umn.edu/bitstream/handle/11299/172116/HMSL_CSV%20Data%20Files.zip?sequence=28&isAllowed=y",
            "extension": "zip",
            "archive_files": ['HMSL_Originality_scores_all.csv']   
        }
    },
    "null_marker": 11,
    "column_mappings": {'Item': 'prompt', 'QLogin_1':'participant'},
    "rater_cols": ['J1_Rating','J2_Rating','J3_Rating','J4_Rating'],
    "range": [1, 5],
    "language": "eng",
}

fname = download_from_description(desc, '../data/raw')[0]
df = pd.read_csv(fname)
# Doublecheck ICC2k - burczak paper had icc2k=0.67
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Hofelich Mohr et al. 2016*

Hofelich Mohr, A., Sell, A., & Lindsay, T. (2016). Thinking Inside the Box: Visual Design of the Response Box Affects Creative Divergent Thinking in an Online Survey. Social Science Computer Review, 34(3), 347–359. https://doi.org/10.1177/0894439315588736

- Renaming columns {'Item': 'prompt', 'QLogin_1': 'participant'}

Replacing 11 with NaN in response column
Dropping 23 unrated items

- name: hmsl
- no_of_prompts: 2
- no_of_participants: 638
- no_of_data_points: 3843
- prompts: ['paperclip', 'brick']
- ICC2k: 0.67
- ICC2k_CI: 0.53-0.75
- ICC3k: 0.74
- rater_cols: ['J1_Rating', 'J2_Rating', 'J3_Rating', 'J4_Rating']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1299,uses,hmsl,What is a surprising use for a BRICK?,brick,out door pit,hmsl_brick-767f21,1.4995,hmsl4q5kz2kx,2.0
3837,uses,hmsl,What is a surprising use for a BRICK?,brick,weight in the back of your car in snowy weather,hmsl_brick-f9a184,3.0000,hmsl11z914TK,1.0

## Datasets used by Beaty and Johnson 2021

From SemDis paper:

- Study 1 was re-analysis of AUT responses from Beaty et al., 2018 to see if ensemble approaches work better. Two tests: `box` and `rope`
   - according to their paper, using additive composition was slightly negative correlation, while multiplicative 'results revealed a large correlation between latent semantic distance and human ratings:$r=.91$, p<.001'. This uses a model that weighs the factors, but is (I think) tailored to the dataset without held out data.

- Study 2 was re-analysis of results from Silvia et al. 2017, also on box and rope 
- Study 3 was brick - yet again - via Beaty and Silvia 2012
- Study 4 and 5- Heinen and Johnson (2018) - were noun matching, not relevant here

In [8]:
desc = {
    "name": "bj21",
    "meta": {
        "inline": "Beaty and Johnson 2021",
        "citation": "Beaty, R. E., & Johnson, D. R. (2021). Automating creativity assessment with SemDis: An open platform for computing semantic distance. Behavior Research Methods, 53(2), 757–780. https://doi.org/10.3758/s13428-020-01453-w",
        "url": "https://doi.org/10.3758/s13428-020-01453-w",
        "download": {
            "url": "https://files.osf.io/v1/resources/gz4fc/providers/osfstorage/5e45b6c73e86a800be6e662e/?zip=",
            "extension": "zip",
            "archive_files": ['Study 1/s1_data_long.xlsx',
                              'Study 2/s2_data_long.xlsx',
                              'Study 3/s3_data_long.xlsx']   
        }
    },
    "column_mappings": {'id':'participant', 'item':'prompt'},
    "range": [1, 5],
    "language": "eng",
}

substudies = [
    {
        "name": "betal18",
        "meta": {
            "inline": "Beaty et al., 2018",
            "citation": "Beaty, R. E., Kenett, Y. N., Christensen, A. P., Rosenberg, M. D., Benedek, M., Chen, Q., Fink, A., Qiu, J., Kwapil, T. R., Kane, M. J., & Silvia, P. J. (2018). Robust prediction of individual creative ability from brain functional connectivity. Proceedings of the National Academy of Sciences, 115(5), 1087–1092. https://doi.org/10.1073/pnas.1713532115"
        }
    },
    {
        "name": "snb17",
        "meta": {
            "inline": "Silvia et al., 2017",
            "citation": "Silvia, P. J., Nusbaum, E. C., & Beaty, R. E. (2017). Old or New? Evaluating the Old/New Scoring Method for Divergent Thinking Tasks. The Journal of Creative Behavior, 51(3), 216–224. https://doi.org/10.1002/jocb.101"
        }
    },
    {
        "name": "bs12",
        "meta": {
            "inline": "Beaty & Silvia, 2012",
            "citation": "Beaty, R. E., & Silvia, P. J. (2012). Why do ideas get more creative across time? An executive interpretation of the serial order effect in divergent thinking tasks. Psychology of Aesthetics, Creativity, and the Arts, 6(4), 309–319. https://doi.org/10.1037/a0029171"
        }
    },

]

fnames = download_from_description(desc, '../data/raw')
# the data comes from past studies, so we'll rename the files
# individually to their original studies
for fname,substudy in zip(fnames, substudies):
    new_desc = desc.copy()
    new_desc.update(substudy)
    df = pd.read_excel(fname)
    cleaned = prep_general(df, **new_desc, save_dir='../data/datasets')
    display(cleaned.sample(2))

### Loading *Beaty et al., 2018*

Beaty, R. E., Kenett, Y. N., Christensen, A. P., Rosenberg, M. D., Benedek, M., Chen, Q., Fink, A., Qiu, J., Kwapil, T. R., Kane, M. J., & Silvia, P. J. (2018). Robust prediction of individual creative ability from brain functional connectivity. Proceedings of the National Academy of Sciences, 115(5), 1087–1092. https://doi.org/10.1073/pnas.1713532115

- Renaming columns {'id': 'participant', 'item': 'prompt'}

- name: betal18
- no_of_prompts: 2
- no_of_participants: 171
- no_of_data_points: 2918
- prompts: ['box', 'rope']
- ICC2k: 0.82
- ICC2k_CI: 0.77-0.85
- ICC3k: 0.84
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
421,uses,betal18,What is a surprising use for a BOX?,box,computer screen,betal18_box-b414e7,1.5,betal182047,None
975,uses,betal18,What is a surprising use for a BOX?,box,Draw/color it to be a spaceship for a child to...,betal18_box-f7fc7f,1.5,betal182106,None

### Loading *Silvia et al., 2017*

Silvia, P. J., Nusbaum, E. C., & Beaty, R. E. (2017). Old or New? Evaluating the Old/New Scoring Method for Divergent Thinking Tasks. The Journal of Creative Behavior, 51(3), 216–224. https://doi.org/10.1002/jocb.101

- Renaming columns {'id': 'participant', 'item': 'prompt'}

- name: snb17
- no_of_prompts: 2
- no_of_participants: 142
- no_of_data_points: 2372
- prompts: ['box', 'rope']
- ICC2k: 0.67
- ICC2k_CI: 0.55-0.75
- ICC3k: 0.72
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1355,uses,snb17,What is a surprising use for a ROPE?,rope,strap a sex partner down,snb17_rope-073c58,1.667,snb1721,None
1617,uses,snb17,What is a surprising use for a ROPE?,rope,whip,snb17_rope-018788,1.333,snb1750,None

### Loading *Beaty & Silvia, 2012*

Beaty, R. E., & Silvia, P. J. (2012). Why do ideas get more creative across time? An executive interpretation of the serial order effect in divergent thinking tasks. Psychology of Aesthetics, Creativity, and the Arts, 6(4), 309–319. https://doi.org/10.1037/a0029171

- Renaming columns {'id': 'participant', 'item': 'prompt'}

- name: bs12
- no_of_prompts: 1
- no_of_participants: 133
- no_of_data_points: 1807
- prompts: ['brick']
- ICC2k: 0.72
- ICC2k_CI: 0.56-0.8
- ICC3k: 0.78
- rater_cols: ['br_rater1', 'br_rater2', 'br_rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1214,uses,bs12,What is a surprising use for a BRICK?,brick,rhyming (-tick-flick-sick-thick),bs12_brick-79a456,2.667,bs1287,None
727,uses,bs12,What is a surprising use for a BRICK?,brick,decoration,bs12_brick-5e4186,1.333,bs1252,None

## MOTES Pilot

MOTES is related to the "Measuring Original Thinking in Elementary Students: A Text-Mining Approach" (IES #R305A200519). This data is related to a high stakes test and is limited to research access. If you're a creativity research, please reach out to request it from <peter.organisciak@du.edu> and/or <selcuk.acar@unt.edu>.

In [9]:
desc = {
    "name": "motesp",
    "meta": {
        "inline": "Acar et al., 2023",
        "citation": "Acar, S., Dumas, D., Organisciak, P., Berthiaume, K. (2023). Measuring original thinking in elementary school: Development and validation of a computational psychometric approach. Journal of Educational Psychology. http://dx.doi.org/10.13140/RG.2.2.19804.56968",
        "url": "http://dx.doi.org/10.13140/RG.2.2.19804.56968",
        "download": {}
    },
    "rater_cols": ['D', 'K', 'T'],
    "range": [1, 7],
    "language": "eng",
}
df = pd.read_csv('../data/raw/motesp_0.csv')
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Acar et al., 2023*

Acar, S., Dumas, D., Organisciak, P., Berthiaume, K. (2023). Measuring original thinking in elementary school: Development and validation of a computational psychometric approach. Journal of Educational Psychology. http://dx.doi.org/10.13140/RG.2.2.19804.56968

- name: motesp
- no_of_prompts: 29
- no_of_participants: 35
- no_of_data_points: 963
- prompts: ['backpack', 'ball', 'bottle', 'hat', 'lightbulb', 'pencil', 'shoe', 'sock', 'spoon', 'toothbrush', 'big', 'cold', 'fun', 'red', 'smelly', 'soft', 'tasty', 'wet', 'aliens landed', 'kid president', 'rain soda', 'teacher read minds', 'time travel', 'friend phone', 'library', 'playground', 'school bus', 'sleepover', 'teacher talking']
- ICC2k: 0.73
- ICC2k_CI: 0.66-0.78
- ICC3k: 0.75
- rater_cols: ['D', 'K', 'T']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
346,instances,motesp,What is a surprising example of something BIG?,big,Elephant,motesp_g2_big-0a2f3b,2.555333,motesp18RE,None
348,instances,motesp,What is a surprising example of something BIG?,big,A tall wall of garbage from a landfill.,motesp_g2_big-8fef8d,4.111333,motesp1RG,None

In [10]:
src = 'motesp'
motes_pilot = pd.read_csv(os.path.join(base_dir, 'motes_pilot_gt_scores.csv')).rename(columns=dict(D='rater1', K='rater2', T='rater3', ID='participant'))
motes_pilot['type'] = motes_pilot.task.apply(lambda x: x.split('_')[0])
datasets[desc['name']] = prep_general(df, **desc)
datasets[desc['name']].sample(2)

NameError: name 'os' is not defined

## MOTES

This is the post-pilot data. As with the pilot data, this dataset is available on request. Please reach out!

In [12]:
desc = {
    "name": "motesf",
    "meta": {
        "inline": "Acar et al., 2023",
        "citation": "Acar, S., Dumas, D., Organisciak, P., Berthiaume, K. (2023). Measuring original thinking in elementary school: Development and validation of a computational psychometric approach. Journal of Educational Psychology. http://dx.doi.org/10.13140/RG.2.2.19804.56968",
        "url": "http://dx.doi.org/10.13140/RG.2.2.19804.56968",
        "download": {}
    },
    "column_mappings": {'ID':'participant'},
    "null_marker": -999,
    "rater_cols": ["Kscore", "Hscore", "Cscore", "Tscore", "Mscore"],
    "range": [1, 5], # note different scale than motesp pilot
    "language": "eng",
}
# data was already reshaped to long format for previous study
df = pd.read_csv('../data/raw/motesf_0.csv')
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Acar et al., 2023*

Acar, S., Dumas, D., Organisciak, P., Berthiaume, K. (2023). Measuring original thinking in elementary school: Development and validation of a computational psychometric approach. Journal of Educational Psychology. http://dx.doi.org/10.13140/RG.2.2.19804.56968

- Renaming columns {'ID': 'participant'}

Replacing -999 with NaN in response column

- name: motesf
- no_of_prompts: 24
- no_of_participants: 386
- no_of_data_points: 8563
- prompts: ['ball', 'sock', 'pencil', 'spoon', 'lightbulb', 'hat', 'bottle', 'toothbrush', 'smelly', 'soft', 'red', 'frozen', 'wet', 'huge', 'fun', 'tasty', 'school bus', 'games', 'library', 'lecture', 'phone', 'rain', 'closet', 'lunchroom']
- ICC2k: 0.79
- ICC2k_CI: 0.69-0.85
- ICC3k: 0.84
- rater_cols: ['Kscore', 'Hscore', 'Cscore', 'Tscore', 'Mscore']
- no_of_raters: 5

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
5874,completion,motesf,"Complete this sentence in a surprising way: ""W...",school bus,yelled,motesf_school bus-91a208,2.3996,motesf98f137,3
6793,completion,motesf,"Complete this sentence in a surprising way: ""W...",library,they were talking,motesf_library-ffb6db,2.1998,motesfe56954,7

In [ ]:
src = 'motesf'

corrected = True # use spelling corrected columns
items = [col.replace('_prompt', '') for col in df.columns if col.startswith('G') and col.endswith('_prompt')]

collector = []
# RESHAPE TO long
for item in items:
    subset = df[['participant'] + [col for col in df.columns if col.startswith(item)]].copy()
    subset.columns = [col.split('_')[-1] for col in subset.columns]
    subset['game'] = item.split('_')[0]
    subset['prompt_code'] = item
    collector.append(subset)
reshaped = pd.concat(collector)
# remove non-responses
reshaped = reshaped[~reshaped.raw.isna()]
# restore original wording in the test
reshaped.prompt =reshaped.prompt.str.replace('light bulbs', 'lightbulb').str.replace('hat cap', 'hat').str.replace('soccer ball', 'ball').str.replace('lead pencil', 'pencil').str.replace('spoons', 'spoon')

# add display order
displayorder = df[['participant'] + [col for col in df.columns if 'DO' in col]]
displayorder = displayorder.melt(id_vars='participant', value_name='prompt_code')
displayorder['response_num'] = displayorder.variable.apply(lambda x:x[-1])
reshaped = reshaped.merge(displayorder[['participant', 'prompt_code', 'response_num']])
# use spelling corrected response, unless set otherwise
reshaped = reshaped.rename(columns={('corrected' if corrected else 'raw'):'response'})
reshaped['type'] = reshaped['game'].replace({'G1':'uses', 'G2': 'instances', 'G3':'completion'})

completion_ref = {
    "playground": "When the friends met on the playground...",
    "school bus": "When I got on the school bus...",
    "games": "At a sleepover we...",
    'library': "When the kids were in the library...",
    'lecture': "When the teacher was talking...",
    'phone': "My friend called me on the phone to tell me...",
    'rain': "It started raining and...",
    'closet': "When I opened my closet...",
    'lunchroom': "When I was at lunch..."
}
reshaped.loc[reshaped.type == 'uses', 'question'] = reshaped.loc[reshaped.type == 'uses', 'prompt'].apply(lambda x: f"What is a surprising use for a {x.upper()}?")
reshaped.loc[reshaped.type == 'instances','question'] = reshaped.loc[reshaped.type == 'instances', 'prompt'].apply(lambda x: f"What is a surprising example of something {x.upper()}?")
reshaped.loc[(reshaped.type == 'completion'), 'question'] = reshaped.loc[reshaped.type == 'completion', 'prompt'].replace(completion_ref).str.replace("(.*)", 'Complete this sentence in a surprising way: "\\1"...', regex=True)

datasets[src] = prep_general(reshaped, src,
                             rater_cols=[col for col in reshaped if 'score' in col.lower()],
                             include_rater_std=include_rater_std, inputrange=(1,5))

datasets[src].sample()

    Type              Description   ICC     F   df1    df2  pval         CI95%
0   ICC1   Single raters absolute  0.40  4.34  8535  34144   0.0  [0.39, 0.41]
1   ICC2     Single random raters  0.42  6.40  8535  34140   0.0   [0.3, 0.52]
2   ICC3      Single fixed raters  0.52  6.40  8535  34140   0.0  [0.51, 0.53]
3  ICC1k  Average raters absolute  0.77  4.34  8535  34144   0.0  [0.76, 0.78]
4  ICC2k    Average random raters  0.79  6.40  8535  34140   0.0  [0.69, 0.85]
5  ICC3k     Average fixed raters  0.84  6.40  8535  34140   0.0  [0.84, 0.85]

,type,src,question,prompt,response,id,target,participant,response_num
5093,instances,motesf,What is a surprising example of something HUGE?,huge,my dad is bigger than me.,motesf_huge-6cae,2.6,motesf138bb0,8

## Multilingual semantic distance

From: Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.


In the paper, the *exact* provenance of subdata isn't specified, so needs further investigation to determine why additional citations are needed:

> We received 30 datasets, with a combined sample size of 6,522, reflecting data from 22 labs and 12 languages: Arabic, Chinese, Dutch, English, Farsi, French German, Hebrew, Italian, Polish, Russian, and Spanish (see Figure 1). Several datasets came from published studies, whereas others have not been used for publication.

For verification, here are the published ICC values (which look to be the ICC3k values):

| Dataset  | Raters | ICC  |
|----------|--------|------|
| Arabic1  | 1      | N/A  |
| Chinese1 | 4      | 0.49 |
| Chinese2 | 4      | 0.64 |
| Dutch1   | 2      | 0.81 |
| Dutch2   | 2      | 0.94 |
| Dutch3   | 2      | 0.87 |
| Dutch4   | 3      | 0.85 |
| English1 | 4      | 0.84 |
| English2 | 4      | 0.77 |
| English3 | 3      | 0.56 |
| English4 | 3      | 0.72 |
| English5 | 3      | 0.78 |
| English6 | 3      | 0.64 |
| Farsi1   | 3      | 0.69 |
| Farsi2   | 3      | 0.75 |
| French1  | 4      | 0.8  |
| French2  | 3      | 0.64 |
| French3  | 3      | 0.75 |
| French4  | 3      | 0.8  |
| German1  | 4      | 0.71 |
| German2  | 3      | 0.78 |
| German3  | 3      | 0.86 |
| Hebrew1  | 45     | 0.88 |
| Italian1 | 2      | 0.89 |
| Italian2 | 2      | 0.88 |
| Polish1  | 3      | 0.82 |
| Polish2  | 2      | 0.6  |
| Russian1 | 3      | 0.72 |
| Russian2 | 3      | 0.79 |
| Spanish1 | 3      | 0.74 |

In [31]:

desc = {
    "name": "multiaut",
    "test_type": "uses",
    "meta": {
        "inline": "Patterson et al., 2023",
        "citation": "Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.",
        "url": "https://doi.org/10.1037/aca0000618",
        "download": {
            "url": "https://files.osf.io/v1/resources/5cy9n/providers/github/processed-data/?zip=",
            "extension": "zip",
            # Excluded for redundancy
            # english5 is the same as bs12
            # english4 is the same as snb17
            # english1 is the same as betal18
            "archive_files": [
                "arabic1.csv", "dutch4.csv", "english6.csv", "german3.csv", "russian1.csv",
                "chinese1.csv", "french2.csv", "hebrew1.csv", "russian2.csv",
                "chinese2.csv", "english2.csv", "french3.csv", "italian1.csv", "spanish1.csv",
                "dutch1.csv", "english3.csv", "french4.csv", "italian2.csv",
                "dutch2.csv", "german1.csv", "polish1.csv",
                "dutch3.csv", "german2.csv", "polish2.csv"
            ]
        }
    },
    "column_mappings": {'ID': 'participant', 'order':'response_num'}
}

In [33]:
fnames = download_from_description(desc, '../data/raw')

# additional info specific to subset datasets
subsets = {

}
language_to_iso = {
    'arabic': 'ara', 'chinese': 'chi', 'dutch': 'dut', 'english': 'eng',
    'farsi': 'per', 'french': 'fre', 'german': 'ger', 'hebrew': 'heb',
    'italian': 'ita', 'polish': 'pol', 'russian': 'rus', 'spanish': 'spa'
}
for fname in fnames:
    # language is automatically detected from filename
    subset_desc = desc.copy()
    print(fname.stem)
    subset_desc['language'] = language_to_iso[fname.stem[:-1]]
    subset_desc['name'] = desc['name'] + '_' + fname.stem
    if subsets.get(fname.stem):
        subset_desc.update(subsets[fname.stem])
    if fname.stem == 'english2':
        print("NOTE: english2 had an encoding error. Opening and re-saving it seems to fix it.")
    df = pd.read_csv(fname, encoding='utf-8')
    cleaned = prep_general(df, **subset_desc, save_dir='../data/datasets')
    display(cleaned.sample(2))

arabic1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 5)

- name: multiaut_arabic1
- no_of_prompts: 1
- no_of_participants: 160
- no_of_data_points: 1524
- prompts: ['Tin cans']
- ICC2k: None
- ICC2k_CI: None
- ICC3k: None
- rater_cols: ['rater1']
- no_of_raters: 1

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
523,uses,multiaut_arabic1,ما هو استخدام مفاجئ لـ TIN CANS؟,Tin cans,صناعة الأبواب,multiaut_arabic1_Tin cans-5cafcb,3.0,multiaut_arabic171,5
1166,uses,multiaut_arabic1,ما هو استخدام مفاجئ لـ TIN CANS؟,Tin cans,زراعة بذور تستخدم للتجربة في المعمل,multiaut_arabic1_Tin cans-dd65e9,2.0,multiaut_arabic1149,6

dutch4

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0.0, 5.0)

- name: multiaut_dutch4
- no_of_prompts: 1
- no_of_participants: 99
- no_of_data_points: 2414
- prompts: ['brick']
- ICC2k: 0.84
- ICC2k_CI: 0.82-0.86
- ICC3k: 0.85
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
266,uses,multiaut_dutch4,Wat is een verrassend gebruik voor een BRICK?,brick,Eten,multiaut_dutch4_brick-04be02,3.6672,multiaut_dutch468,None
2355,uses,multiaut_dutch4,Wat is een verrassend gebruik voor een BRICK?,brick,Wc pot,multiaut_dutch4_brick-984f55,4.2000,multiaut_dutch458,None

english6

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 5.0)

Dropping 7 unrated items

- name: multiaut_english6
- no_of_prompts: 2
- no_of_participants: 241
- no_of_data_points: 3425
- prompts: ['brick', 'knife']
- ICC2k: 0.48
- ICC2k_CI: 0.15-0.65
- ICC3k: 0.64
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
2856,uses,multiaut_english6,What is a surprising use for BRICK?,brick,hold down paper so that when you're painting t...,multiaut_english6_brick-1cc98f,1.667,multiaut_english6203,None
898,uses,multiaut_english6,What is a surprising use for BRICK?,brick,weapons for children,multiaut_english6_brick-27f681,1.667,multiaut_english668,None

german3

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 5)

- name: multiaut_german3
- no_of_prompts: 16
- no_of_participants: 51
- no_of_data_points: 8065
- prompts: ['Axt', 'Trompete', 'Erbse', 'Tisch', 'Flöte', 'Zange', 'Gurke', 'Bett', 'Tomate', 'Geige', 'Schaufel', 'Schrank', 'Paprika', 'Stuhl', 'Trommel', 'Säge']
- ICC2k: 0.85
- ICC2k_CI: 0.83-0.87
- ICC3k: 0.86
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
5461,uses,multiaut_german3,Was ist eine überraschende Verwendung für ein ...,Trommel,die verschiedenen Taktarten lehren,multiaut_german3_Trommel-52735d,2.666,multiaut_german340,85
2795,uses,multiaut_german3,Was ist eine überraschende Verwendung für ein ...,Gurke,anplanzen,multiaut_german3_Gurke-47615d,1.666,multiaut_german319,15

russian1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 5)

- name: multiaut_russian1
- no_of_prompts: 2
- no_of_participants: 111
- no_of_data_points: 1728
- prompts: ['газета', 'деревянная линейка']
- ICC2k: 0.72
- ICC2k_CI: 0.69-0.74
- ICC3k: 0.72
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
12,uses,multiaut_russian1,Какое удивительное применение для ГАЗЕТА?,газета,"Аксессуар для собаки в виде плаща, но в сухую ...",multiaut_russian1_газета-698951,3.333,multiaut_russian19,None
129,uses,multiaut_russian1,Какое удивительное применение для ГАЗЕТА?,газета,Для гербария (сушить цветы и листья),multiaut_russian1_газета-a95e77,3.667,multiaut_russian138,None

chinese1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0, 5)

- name: multiaut_chinese1
- no_of_prompts: 122
- no_of_participants: 466
- no_of_data_points: 14176
- prompts: ['积木', '漏斗', '轮胎', '盘子', '皮带', '塑料袋', '西瓜', '牙签', '锅', '蚊帐', '头发', '纸盒', '铁链', '硬币', '字典', '报纸', '靴子', '易拉罐', '玉米', '南瓜', '耳机', '喇叭', '领带', '扑克', '手套', '银行卡', '袜子', '镊子', '卫生纸', '蛋清', '小米', '耳机线', '鞋带', '发簪', '柳树', '生姜', '红酒', '白酒', '木头', '火柴', '纽扣', '图钉', '吸管', '牙膏', '船桨', '面团', '西红柿', '荷叶', '磁铁', '弹弓', '钉子', '光盘', '毛巾', '橡皮擦', '球拍', '鹅卵石', '贝壳', '椰子', '花生', '核桃', '铃铛', '酒瓶', '西瓜皮', '冰块', '马来貘', '咖啡', '擀面杖', '戒指', '气球', '芦荟', '橄榄油', '花瓣', '土豆', '曲别针', '浴缸', '茶壶', '灌木', '无花果', '韭菜', '花椒', '纸巾', '皮筋', '黄金', '音响', '画像', '狐狸', '发带', '纸杯', '棉签', '柿子', '白纸', '杯子', '窗帘', '蛋糕', '地图', '风车', '夹子', '胶水', '蜡烛', '毛笔', '墨水', '铅笔', '钳子', '扇子', '勺子', '梳子', '柳条', '水壶', '算盘', '蛋壳', '台灯', '围巾', '温度计', '相机', '香蕉', '牙刷', '钥匙', '衣架', '砖头', '笛子', '酸奶', '吹风机']
- ICC2k: 0.48
- ICC2k_CI: 0.44-0.51
- ICC3k: 0.49
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
9363,uses,multiaut_chinese1,什么是灌木的一个令人惊讶的用途？,灌木,拖鞋,multiaut_chinese1_灌木-cb2d6a,3.0000,multiaut_chinese11313,None
7179,uses,multiaut_chinese1,什么是马来貘的一个令人惊讶的用途？,马来貘,宠物？,multiaut_chinese1_马来貘-4d66e2,2.4002,multiaut_chinese11240,None

french2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 5.0)

Dropping 47 unrated items

- name: multiaut_french2
- no_of_prompts: 1
- no_of_participants: 82
- no_of_data_points: 449
- prompts: ['chapeau']
- ICC2k: 0.52
- ICC2k_CI: 0.25-0.68
- ICC3k: 0.64
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
460,uses,multiaut_french2,Quel est un usage surprenant pour un CHAPEAU?,chapeau,Lancer,multiaut_french2_chapeau-a9a591,1.666,multiaut_french23059,None
116,uses,multiaut_french2,Quel est un usage surprenant pour un CHAPEAU?,chapeau,Croquer le chapeau,multiaut_french2_chapeau-131a7d,2.667,multiaut_french22498,None

hebrew1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 5.0)

WARNING: ICC has an undefined error for this dataset

- name: multiaut_hebrew1
- no_of_prompts: 10
- no_of_participants: 51
- no_of_data_points: 2027
- prompts: ['סכין', 'נעל', 'עיפרון', 'עיתון', 'מברג', 'קולב', 'צמיג', 'מטאטא', 'כיסא', 'כרית']
- ICC2k: None
- ICC2k_CI: None
- ICC3k: None
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4', 'rater5', 'rater6', 'rater7', 'rater8', 'rater9', 'rater10', 'rater11', 'rater12', 'rater13', 'rater14', 'rater15', 'rater16', 'rater17', 'rater18', 'rater19', 'rater20', 'rater21', 'rater22', 'rater23', 'rater24', 'rater25', 'rater26', 'rater27', 'rater28', 'rater29', 'rater30', 'rater31', 'rater32', 'rater33', 'rater34', 'rater35', 'rater36', 'rater37', 'rater38', 'rater39', 'rater40', 'rater41', 'rater42', 'rater43', 'rater44', 'rater45']
- no_of_raters: 45

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1346,uses,multiaut_hebrew1,מהו שימוש מפתיע לצמיג?,צמיג,מסגרת לתמונה,multiaut_hebrew1_צמיג-cbdb0c,4.334,multiaut_hebrew1412,4
795,uses,multiaut_hebrew1,מהו שימוש מפתיע לעיתון?,עיתון,איטום של דברים,multiaut_hebrew1_עיתון-71a9ea,3.500,multiaut_hebrew11679,6

russian2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 5)

- name: multiaut_russian2
- no_of_prompts: 1
- no_of_participants: 45
- no_of_data_points: 370
- prompts: ['картонная коробка']
- ICC2k: 0.78
- ICC2k_CI: 0.74-0.82
- ICC3k: 0.79
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
167,uses,multiaut_russian2,Какое удивительное применение для КАРТОННАЯ КО...,картонная коробка,Сделать модную коробковую сумочку,multiaut_russian2_картонная коробка-e4cf83,3.000,multiaut_russian220,None
77,uses,multiaut_russian2,Какое удивительное применение для КАРТОННАЯ КО...,картонная коробка,В качестве игрушечного домика,multiaut_russian2_картонная коробка-fe0682,1.333,multiaut_russian29,None

chinese2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 42)

- name: multiaut_chinese2
- no_of_prompts: 2
- no_of_participants: 217
- no_of_data_points: 1302
- prompts: ['筷子', '易拉罐']
- ICC2k: 0.6
- ICC2k_CI: 0.54-0.66
- ICC3k: 0.64
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
649,uses,multiaut_chinese2,什么是筷子的一个令人惊讶的用途？,筷子,杠面杖,multiaut_chinese2_筷子-73ec2a,1.170756,multiaut_chinese2305,None
522,uses,multiaut_chinese2,什么是筷子的一个令人惊讶的用途？,筷子,尺子,multiaut_chinese2_筷子-ba875b,1.170707,multiaut_chinese2236,None

english2
NOTE: english2 had an encoding error. Opening and re-saving it seems to fix it.

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 5.0)

- name: multiaut_english2
- no_of_prompts: 2
- no_of_participants: 182
- no_of_data_points: 3723
- prompts: ['rope', 'box']
- ICC2k: 0.71
- ICC2k_CI: 0.59-0.78
- ICC3k: 0.77
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
3488,uses,multiaut_english2,What is a surprising use for ROPE?,rope,tie to a tree to use to jump into a pond lake,multiaut_english2_rope-3145cb,2.0,multiaut_english2175,None
1704,uses,multiaut_english2,What is a surprising use for ROPE?,rope,lasso a horse,multiaut_english2_rope-6739f2,2.0,multiaut_english284,None

french3

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 11.0)

Dropping 10 unrated items

- name: multiaut_french3
- no_of_prompts: 2
- no_of_participants: 277
- no_of_data_points: 2181
- prompts: ['ceinture', 'brouette']
- ICC2k: 0.72
- ICC2k_CI: 0.67-0.77
- ICC3k: 0.75
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
1562,uses,multiaut_french3,Quel est un usage surprenant pour un CEINTURE?,ceinture,Parchemin,multiaut_french3_ceinture-64b7cc,2.3336,multiaut_french3197,None
1703,uses,multiaut_french3,Quel est un usage surprenant pour un CEINTURE?,ceinture,Serre tête,multiaut_french3_ceinture-6cf65b,1.4000,multiaut_french3215,None

italian1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 5)

- name: multiaut_italian1
- no_of_prompts: 6
- no_of_participants: 151
- no_of_data_points: 4269
- prompts: ['Attaccapanni', 'Barile', 'Bottiglia di plastica', 'Lampadina', 'Libro', 'Sedia']
- ICC2k: 0.89
- ICC2k_CI: 0.89-0.9
- ICC3k: 0.89
- rater_cols: ['rater1', 'rater2']
- no_of_raters: 2

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
239,uses,multiaut_italian1,Qual è un uso sorprendente per un SEDIA?,Sedia,posta vestiti,multiaut_italian1_Sedia-a79a6d,2.0,multiaut_italian18,None
1197,uses,multiaut_italian1,Qual è un uso sorprendente per un BARILE?,Barile,seggiola,multiaut_italian1_Barile-68a696,2.0,multiaut_italian153,None

spanish1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 5.0)

- name: multiaut_spanish1
- no_of_prompts: 1
- no_of_participants: 491
- no_of_data_points: 2735
- prompts: ['ladrillo']
- ICC2k: 0.57
- ICC2k_CI: 0.18-0.75
- ICC3k: 0.75
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
2659,uses,multiaut_spanish1,¿Cuál es un uso sorprendente para un LADRILLO?,ladrillo,para rodear un Ã¡rbol,multiaut_spanish1_ladrillo-7a8ea1,2.333,multiaut_spanish1731,3
1920,uses,multiaut_spanish1,¿Cuál es un uso sorprendente para un LADRILLO?,ladrillo,pintar como gis,multiaut_spanish1_ladrillo-f5d5a2,2.333,multiaut_spanish1536,4

dutch1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0.0, 5.0)

- name: multiaut_dutch1
- no_of_prompts: 4
- no_of_participants: 633
- no_of_data_points: 10549
- prompts: ['brick', 'fork', 'paperclip', 'towel']
- ICC2k: 0.81
- ICC2k_CI: 0.81-0.82
- ICC3k: 0.81
- rater_cols: ['rater1', 'rater2']
- no_of_raters: 2

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
4368,uses,multiaut_dutch1,Wat is een verrassend gebruik voor een FORK?,fork,eten,multiaut_dutch1_fork-10c520,1.8,multiaut_dutch1314,None
9979,uses,multiaut_dutch1,Wat is een verrassend gebruik voor een TOWEL?,towel,kleren ervan maken,multiaut_dutch1_towel-7bef1f,2.6,multiaut_dutch1506,None

english3

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 33.0)

Dropping 11 unrated items

- name: multiaut_english3
- no_of_prompts: 2
- no_of_participants: 209
- no_of_data_points: 3225
- prompts: ['box', 'rope']
- ICC2k: 0.38
- ICC2k_CI: 0.18-0.52
- ICC3k: 0.49
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
2893,uses,multiaut_english3,What is a surprising use for ROPE?,rope,fishing rod,multiaut_english3_rope-79b6f2,1.124875,multiaut_english384005,None
3001,uses,multiaut_english3,What is a surprising use for BOX?,box,car,multiaut_english3_box-36db34,1.125000,multiaut_english384033,None

french4

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 5.0)

- name: multiaut_french4
- no_of_prompts: 2
- no_of_participants: 238
- no_of_data_points: 2332
- prompts: ['brouette', 'ceinture']
- ICC2k: 0.79
- ICC2k_CI: 0.78-0.81
- ICC3k: 0.8
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
240,uses,multiaut_french4,Quel est un usage surprenant pour un BROUETTE?,brouette,Pour s'asseoir,multiaut_french4_brouette-2c17c1,1.333,multiaut_french430,None
645,uses,multiaut_french4,Quel est un usage surprenant pour un BROUETTE?,brouette,Comme caddie de courses,multiaut_french4_brouette-86a9b0,1.000,multiaut_french469,None

italian2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0.0, 5.0)

Dropping 3 unrated items

- name: multiaut_italian2
- no_of_prompts: 21
- no_of_participants: 80
- no_of_data_points: 6895
- prompts: ['guanto', 'lampadina', 'libro', 'martello', 'mattone', 'cappello', 'cestino', 'coltello', 'cucchiaio', 'graffetta', 'accendino', 'accetta', 'appendino', 'aspirapolvere', 'banana', 'barattolo', 'bicicletta', 'borsa', 'botte', 'bottiglietta', 'capello']
- ICC2k: 0.88
- ICC2k_CI: 0.87-0.89
- ICC3k: 0.88
- rater_cols: ['rater1', 'rater2']
- no_of_raters: 2

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
3340,uses,multiaut_italian2,Qual è un uso sorprendente per un COLTELLO?,coltello,lametta,multiaut_italian2_coltello-e0e711,3.4,multiaut_italian2101,None
6543,uses,multiaut_italian2,Qual è un uso sorprendente per un ACCENDINO?,accendino,accendere un fuoco,multiaut_italian2_accendino-41cf85,1.8,multiaut_italian2137,None

dutch2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0.0, 5.0)

- name: multiaut_dutch2
- no_of_prompts: 2
- no_of_participants: 111
- no_of_data_points: 1640
- prompts: ['brick', 'paperclip']
- ICC2k: 0.94
- ICC2k_CI: 0.93-0.95
- ICC3k: 0.94
- rater_cols: ['rater1', 'rater2']
- no_of_raters: 2

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
293,uses,multiaut_dutch2,Wat is een verrassend gebruik voor een BRICK?,brick,huis,multiaut_dutch2_brick-a9dc88,1.8,multiaut_dutch21187,None
617,uses,multiaut_dutch2,Wat is een verrassend gebruik voor een BRICK?,brick,schoorsteen bouwen,multiaut_dutch2_brick-82e140,1.8,multiaut_dutch21230,None

german1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0.0, 3.0)

- name: multiaut_german1
- no_of_prompts: 3
- no_of_participants: 298
- no_of_data_points: 8116
- prompts: ['konservendose', 'messer', 'haarfoehn']
- ICC2k: 0.7
- ICC2k_CI: 0.68-0.72
- ICC3k: 0.71
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
5511,uses,multiaut_german1,Was ist eine überraschende Verwendung für ein ...,haarfoehn,zum Spaß,multiaut_german1_haarfoehn-d6c32d,1.000000,multiaut_german1203,None
3018,uses,multiaut_german1,Was ist eine überraschende Verwendung für ein ...,messer,huhn schlachten,multiaut_german1_messer-c6302d,1.666667,multiaut_german1118,None

polish1

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 7)

- name: multiaut_polish1
- no_of_prompts: 2
- no_of_participants: 791
- no_of_data_points: 7415
- prompts: ['puszka', 'cegła']
- ICC2k: 0.82
- ICC2k_CI: 0.81-0.83
- ICC3k: 0.82
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
5283,uses,multiaut_polish1,Jakie jest zaskakujące zastosowanie dla CEGŁA?,cegła,broń obuchowa,multiaut_polish1_cegła-7e3432,1.0,multiaut_polish1369107,p7
5867,uses,multiaut_polish1,Jakie jest zaskakujące zastosowanie dla CEGŁA?,cegła,"broń miotana,",multiaut_polish1_cegła-105c8e,1.0,multiaut_polish1458715,p3

dutch3

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (0, 5)

- name: multiaut_dutch3
- no_of_prompts: 1
- no_of_participants: 111
- no_of_data_points: 1004
- prompts: ['brick']
- ICC2k: 0.86
- ICC2k_CI: 0.79-0.89
- ICC3k: 0.87
- rater_cols: ['rater1', 'rater2']
- no_of_raters: 2

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
666,uses,multiaut_dutch3,Wat is een verrassend gebruik voor een BRICK?,brick,muur maken,multiaut_dutch3_brick-754945,1.8,multiaut_dutch31462,None
922,uses,multiaut_dutch3,Wat is een verrassend gebruik voor een BRICK?,brick,huis bouwen,multiaut_dutch3_brick-a2062e,1.8,multiaut_dutch31530,None

german2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1, 5)

- name: multiaut_german2
- no_of_prompts: 3
- no_of_participants: 154
- no_of_data_points: 3530
- prompts: ['Büroklammer', 'Mülltüte', 'Seil']
- ICC2k: 0.71
- ICC2k_CI: 0.54-0.8
- ICC3k: 0.77
- rater_cols: ['rater1', 'rater2', 'rater3']
- no_of_raters: 3

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
2511,uses,multiaut_german2,Was ist eine überraschende Verwendung für ein ...,Mülltüte,Gummistiefel,multiaut_german2_Mülltüte-8493f3,2.666,multiaut_german22105IDMÄ164,None
1327,uses,multiaut_german2,Was ist eine überraschende Verwendung für ein ...,Büroklammer,Zettel in der Stadt anbringen (schöne),multiaut_german2_Büroklammer-f18a56,3.000,multiaut_german21638KASE170,None

polish2

### Loading *Patterson et al., 2023*

Patterson, J. D., Merseal, H. M., Johnson, D. R., Agnoli, S., Baas, M., Baker, B. S., ... & Beaty, R. E. (2023). Multilingual semantic distance: Automatic verbal creativity assessment in many languages. Psychology of Aesthetics, Creativity, and the Arts, 17(4), 495.

- Renaming columns {'ID': 'participant', 'order': 'response_num'}

- Inferred range of original data: (1.0, 7.0)

WARNING: ICC has an undefined error for this dataset

- name: multiaut_polish2
- no_of_prompts: 3
- no_of_participants: 497
- no_of_data_points: 3054
- prompts: ['sznurek', 'puszka', 'cegła']
- ICC2k: None
- ICC2k_CI: None
- ICC3k: None
- rater_cols: ['rater1', 'rater2', 'rater3', 'rater4']
- no_of_raters: 4

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
2261,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla CEGŁA?,cegła,do malowania na ulicy,multiaut_polish2_cegła-d0e4aa,1.444,multiaut_polish277646,p7
2195,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla CEGŁA?,cegła,Do podwyższenia położenie jakiegokolwiek przed...,multiaut_polish2_cegła-ed8531,1.444,multiaut_polish254949,p1

## TransDis

In [42]:
desc = {
    "name": "transdis",
    "test_type": "uses",
    "meta": {
        "inline": "Yang et al., 2023",
        "citation": "Yang, T., Zhang, Q., Sun, Z., & Hou, Y. (2023). Automatic Assessment of Divergent Thinking in Chinese Language with TransDis: A Transformer-Based Language Model Approach. arXiv preprint arXiv:2306.14790.",
        "url": "https://arxiv.org/abs/2306.14790",
        "download": [{
            "url": "https://osf.io/download/3fk8y", 
            "extension": "xlsx"
            }, {
            "url": "https://osf.io/download/mcwtu", 
            "extension": "xlsx"
            }],
    },
    "null_marker": "NA",
    "column_mappings": {'Item': 'prompt', 'Response': 'response',
                        'ParticipantID': 'participant'},
    "range": [0, 4],
    "rater_cols": ['Originality_Rater1', 'Originality_Rater2'],
    "language":"chi",
}

fnames = download_from_description(desc, '../data/raw')
df = pd.concat([pd.read_excel(fname) for fname in fnames])
# number each participant's responses in order (based on responseID)
df['response_num'] = df.groupby('ParticipantID').cumcount() + 1
cleaned = prep_general(df, **desc, save_dir='../data/datasets')
cleaned.sample(2)

### Loading *Yang et al., 2023*

Yang, T., Zhang, Q., Sun, Z., & Hou, Y. (2023). Automatic Assessment of Divergent Thinking in Chinese Language with TransDis: A Transformer-Based Language Model Approach. arXiv preprint arXiv:2306.14790.

- Renaming columns {'Item': 'prompt', 'Response': 'response', 'ParticipantID': 'participant'}

Replacing NA with NaN in response column
Dropping 4 unrated items

- name: transdis
- no_of_prompts: 4
- no_of_participants: 350
- no_of_data_points: 8007
- prompts: ['床单', '筷子', '拖鞋', '牙刷']
- ICC2k: 0.67
- ICC2k_CI: 0.6-0.73
- ICC3k: 0.7
- rater_cols: ['Originality_Rater1', 'Originality_Rater2']
- no_of_raters: 2

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,type,src,question,prompt,response,id,target,participant,response_num
801,uses,transdis,什么是床单的一个令人惊讶的用途？,床单,沾湿后的防火垫,transdis_床单-3b07fa,3.0,transdis159,6
5032,uses,transdis,什么是牙刷的一个令人惊讶的用途？,牙刷,睫毛刷,transdis_牙刷-95e42a,3.5,transdis31,28

# Summary of Stats

(Also check for redundancy)

In [43]:
import duckdb
conn = duckdb.connect("../data/datasets/stats_db.duckdb")
stats = pd.read_sql('select * from stats', conn)
# sort to check for redundancy
stats.sort_values('no_of_data_points')

/Users/peter.organisciak/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,name,no_of_prompts,no_of_participants,no_of_data_points,prompts,ICC2k,ICC2k_CI,ICC3k,rater_cols,no_of_raters
21,multiaut_russian2,1,45,370,[картонная коробка],0.78,0.74-0.82,0.79,"[rater1, rater2, rater3]",3
19,multiaut_french2,1,82,449,[chapeau],0.52,0.25-0.68,0.64,"[rater1, rater2, rater3]",3
8,motesp,29,35,963,"[backpack, ball, bottle, hat, lightbulb, penci...",0.73,0.66-0.78,0.75,"[D, K, T]",3
34,multiaut_dutch3,1,111,1004,[brick],0.86,0.79-0.89,0.87,"[rater1, rater2]",2
2,hass17,2,57,1093,"[bottle, brick]",0.79,0.75-0.82,0.80,"[r1, r2, r3]",3
22,multiaut_chinese2,2,217,1302,"[筷子, 易拉罐]",0.60,0.54-0.66,0.64,"[rater1, rater2, rater3, rater4]",4
13,multiaut_arabic1,1,160,1524,[Tin cans],NaN,None,NaN,[rater1],1
31,multiaut_dutch2,2,111,1640,"[brick, paperclip]",0.94,0.93-0.95,0.94,"[rater1, rater2]",2
17,multiaut_russian1,2,111,1728,"[газета, деревянная линейка]",0.72,0.69-0.74,0.72,"[rater1, rater2, rater3]",3
12,multiaut_english5,1,133,1807,[brick],0.74,0.65-0.79,0.79,"[rater1, rater2, rater3, br_rater1, br_rater2,...",6
7,bs12,1,133,1807,[brick],0.72,0.56-0.8,0.78,"[br_rater1, br_rater2, br_rater3]",3
20,multiaut_hebrew1,10,51,2027,"[סכין, נעל, עיפרון, עיתון, מברג, קולב, צמיג, מ...",NaN,None,NaN,"[rater1, rater2, rater3, rater4, rater5, rater...",45
24,multiaut_french3,2,277,2181,"[ceinture, brouette]",0.72,0.67-0.77,0.75,"[rater1, rater2, rater3]",3
29,multiaut_french4,2,238,2332,"[brouette, ceinture]",0.79,0.78-0.81,0.80,"[rater1, rater2, rater3]",3
11,multiaut_english4,2,142,2361,"[box, rope]",0.67,0.55-0.75,0.72,"[rater1, rater2, rater3]",3
6,snb17,2,142,2372,"[box, rope]",0.67,0.55-0.75,0.72,"[rater1, rater2, rater3]",3
14,multiaut_dutch4,1,99,2414,[brick],0.84,0.82-0.86,0.85,"[rater1, rater2, rater3]",3
26,multiaut_spanish1,1,491,2735,[ladrillo],0.57,0.18-0.75,0.75,"[rater1, rater2, rater3]",3
10,multiaut_english1,2,171,2918,"[box, rope]",0.82,0.77-0.85,0.84,"[rater1, rater2, rater3, rater4]",4
5,betal18,2,171,2918,"[box, rope]",0.82,0.77-0.85,0.84,"[rater1, rater2, rater3, rater4]",4
36,multiaut_polish2,3,497,3054,"[sznurek, puszka, cegła]",NaN,None,NaN,"[rater1, rater2, rater3, rater4]",4
28,multiaut_english3,2,209,3225,"[box, rope]",0.38,0.18-0.52,0.49,"[rater1, rater2, rater3]",3
15,multiaut_english6,2,241,3425,"[brick, knife]",0.48,0.15-0.65,0.64,"[rater1, rater2, rater3]",3
35,multiaut_german2,3,154,3530,"[Büroklammer, Mülltüte, Seil]",0.71,0.54-0.8,0.77,"[rater1, rater2, rater3]",3
23,multiaut_english2,2,182,3723,"[rope, box]",0.71,0.59-0.78,0.77,"[rater1, rater2, rater3, rater4]",4
4,hmsl,2,638,3843,"[paperclip, brick]",0.67,0.53-0.75,0.74,"[J1_Rating, J2_Rating, J3_Rating, J4_Rating]",4
1,snbmo09,3,202,4099,"[brick, knife, box]",0.69,0.57-0.77,0.76,"[rater_1, rater_2, rater_3, rater_4]",4
25,multiaut_italian1,6,151,4269,"[Attaccapanni, Barile, Bottiglia di plastica, ...",0.89,0.89-0.9,0.89,"[rater1, rater2]",2
0,dod20,10,92,5490,"[book, bottle, brick, fork, pants, rope, shoe,...",0.85,0.79-0.88,0.87,"[rater1, rater2, rater3, rater4]",4
30,multiaut_italian2,21,80,6895,"[guanto, lampadina, libro, martello, mattone, ...",0.88,0.87-0.89,0.88,"[rater1, rater2]",2
33,multiaut_polish1,2,791,7415,"[puszka, cegła]",0.82,0.81-0.83,0.82,"[rater1, rater2, rater3]",3
37,transdis,4,350,8007,"[床单, 筷子, 拖鞋, 牙刷]",0.67,0.6-0.73,0.70,"[Originality_Rater1, Originality_Rater2]",2
16,multiaut_german3,16,51,8065,"[Axt, Trompete, Erbse, Tisch, Flöte, Zange, Gu...",0.85,0.83-0.87,0.86,"[rater1, rater2, rater3]",3
32,multiaut_german1,3,298,8116,"[konservendose, messer, haarfoehn]",0.70,0.68-0.72,0.71,"[rater1, rater2, rater3, rater4]",4
9,motesf,24,386,8563,"[ball, sock, pencil, spoon, lightbulb, hat, bo...",0.79,0.69-0.85,0.84,"[Kscore, Hscore, Cscore, Tscore, Mscore]",5
27,multiaut_dutch1,4,633,10549,"[brick, fork, paperclip, towel]",0.81,0.81-0.82,0.81,"[rater1, rater2]",2
3,setal08,6,242,11490,"[brick, round, no sleep, knife, noise, shrank]",0.43,0.22-0.57,0.54,"[rater1, rater2, rater3]",3
18,multiaut_chinese1,122,466,14176,"[积木, 漏斗, 轮胎, 盘子, 皮带, 塑料袋, 西瓜, 牙签, 锅, 蚊帐, 头发, 纸...",0.48,0.44-0.51,0.49,"[rater1, rater2, rater3, rater4]",4

In [46]:
pd.read_csv('../data/datasets/multiaut_polish2.csv').sort_values('target', ascending=False)

,type,src,question,prompt,response,id,target,participant,response_num
56,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla SZNUREK?,sznurek,Do stworzenia zegara poprzez wyliczenie czasu ...,multiaut_polish2_sznurek-6db2e6,4.666667,multiaut_polish230277,p1
57,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla SZNUREK?,sznurek,Sznurek moze byc takze forma rurki przesylajac...,multiaut_polish2_sznurek-1c48eb,4.666667,multiaut_polish230277,p2
802,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla SZNUREK?,sznurek,Do skonstruowania liny po ktorej mozna uciec z...,multiaut_polish2_sznurek-75e214,4.333333,multiaut_polish2442188,p1
804,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla SZNUREK?,sznurek,Ze sznurka można zrobić sztucznego węża i nast...,multiaut_polish2_sznurek-b26865,4.333333,multiaut_polish2444381,p1
414,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla SZNUREK?,sznurek,do tamowania krwotoku,multiaut_polish2_sznurek-678d06,4.333333,multiaut_polish2334939,p5
...,...,...,...,...,...,...,...,...,...
1809,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla PUSZKA?,puszka,zrobić wazon na kwiaty,multiaut_polish2_puszka-e453cb,1.000000,multiaut_polish2420809,p1
1811,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla PUSZKA?,puszka,Jako popielniczkę,multiaut_polish2_puszka-e50b47,1.000000,multiaut_polish2421847,p1
1812,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla PUSZKA?,puszka,jako doniczkę,multiaut_polish2_puszka-a8fda8,1.000000,multiaut_polish2421847,p2
1817,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla PUSZKA?,puszka,do zrobienia popielniczki,multiaut_polish2_puszka-feac8c,1.000000,multiaut_polish2423427,p3
1527,uses,multiaut_polish2,Jakie jest zaskakujące zastosowanie dla PUSZKA?,puszka,dokumenty,multiaut_polish2_puszka-0fb18d,1.000000,multiaut_polish2352031,p2